*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 14px;
}

body{
    background-color: hsl(30, 38%, 92%);
}


.tittle{
    font-family: 'Fraunces', serif;
}


.container{
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 38px;
    border-radius: 8px;
}

.container>div{
    width: 50%;
}

.left{
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(https://m.media-amazon.com/images/I/71qWo7ELB5L._AC_UF1000,1000_QL80_.jpg);
}

.right{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 14px;
}

.sub-tittle{
    font-size: 14px;
    font-weight: 200;
    color: #d3d3d3;
}

.new-price{
    font-size: 28px;
    font-weight: 900;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

.old-price{
    text-decoration: line-through;
    color: #d3d3d3;
}

.checkout-button{
    background-color: hsl(158, 36%, 37%) ;
    color: #ffffff;
    padding: 12px 18px;
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 18px;
    border-radius: 8px;
}